DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SSLMODE=disable
DB_TIMEZONE=UTC
JWT_KEY=super-secret-key
JWT_KEY_PASSWORD=super-key
SMTP_SRC_EMAIL_LOGIN=granggeirinho@gmail.com
SMTP_EMAIL_PASSWORD=dkrusbxdpfrgqivt
SMTP_IDENTITY=Veras
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587